/* WORKING  */

.working {
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
}

.workingText {
  text-align: center;
}

.workingText p {
  color: #455a64;
}

.workingText h1 {
  margin: 0rem;
  font-size: 1.75rem;
}

.workPart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  margin-top: 20px;
  gap: 20px;
}

.work {
  padding: 2rem;
  box-shadow: 0 0.12rem 0.25rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  flex: 1 1 0;
}

.workIcon {
  width: 30px;
}
.work p {
  text-align: center;
  font-size: 14px;
}

@media (max-width: 720px) {
  .workPart {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .work {
    width: 100%;
  }
}
