/* SIGNUP  */
/*
.signup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F5FDFD;
}

.signup-img {
  min-width: 30%;
}

.signup-img Image{
  width: 100%;
}

.signup-text {
  min-width: 40%;
  display: flex;
  flex-direction: column;
}

.signup-text p{
  margin-top: 0;
  margin-bottom: 3rem;
}

.signup-text h1{
  font-size: 1.75rem;
}*/