 @media (max-width: 720px) {
  * {
    flex-wrap: wrap;
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .nav-links {
    display: none;
  }

  .navbar .nav-buttons {
    display: none;
  }

  .logo {
    width: 40%;
    margin-left: 1rem;
  }

  .hero {
    text-align: center;
  }

  .hero-text .nav-buttons {
    margin: auto;
  }

  .hero-img {
    margin-top: 2rem;
  }

  .enterprise-img {
    width: 32%;
  }

  .online-booking-btn {
    flex-wrap: nowrap;
  }

  .online-booking-btn a {
    padding: 1rem 2rem;
  }

  .facility .wrap {
    flex-wrap: wrap-reverse;
  }

  .bannar-img {
    margin: 0.3rem;
  }

  .temp {
    margin-top: 1rem;
  }

  .signup-text {
    text-align: center;
  }

  .signup-text .nav-buttons {
    margin: auto;
  }

  .work-part .work {
    margin-top: 1rem;
  }
} 
