/*  FACILITY  */

.facilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* padding: 2rem; */
}

.facilitiesImg {
  min-width: 32%;
  max-width: 345px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 40%;
}

.info h2 {
  font-size: 1.75rem;
  margin: 0;
}

.info p {
  color: #455a64;
}

.info .infoColor {
  color: #08a9a0;
}

@media (max-width: 720px) {
  .wrap {
    /* flex-wrap: wrap-reverse; */
  }
  .down {
    flex-wrap: wrap-reverse;
  }
}
