/* FEATURES  */

.features {
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  padding: 40px;
  
  
}

.featuresText {
  text-align: center;
  margin-bottom: 20px;
}

.featuresText h1 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.featuresText p {
  color: #555;
  font-size: 14px;

}

.featuresPart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.feature {
  padding: 1.25rem;
  min-width: 30%;
  text-align: center;
  /* border: 0.5px solid rgb(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  margin-top: 10px;
}

.outline{
  border-left: 2px solid rgba(236, 236, 236, 0.5) ;
  border-right: 2px solid rgba(236, 236, 236, 0.5);
  padding: 1.25rem;
  min-width: 30%;
  text-align: center;
  /* border: 0.5px solid rgb(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  margin-top: 10px;
}

.outline h3 {
  font-weight:600;
  font-size: 22px;
}

.outline img {
  display: block;
  width: 16%;
  margin: 0;
}

.outline .small {
  font-size: 13px;
  color: #727272;
}

.feature h3 {
  font-weight: 600;
  font-size: 22px;
}

.feature img {
  display: block;
  width: 16%;
  margin: auto;
}

.feature .small {
  font-size: 13px;
  color: #727272;
}

@media (max-width: 720px) {
  .featuresPart {
    display: flex;
    flex-direction: column;
  }
  .featuresText p {
    word-wrap: normal;
  }
  .FeatureIcon1 .FeatureIcon2 .FeatureIcon3 {
    width: 15%;
  }
  .feature{
    min-width: 20%;
    padding-bottom: 30px;
  }
  .feature img{
    width: 12%;
  }
  .outline{
    border-left:none;
    border-right: none;
  }
}
