.heading {
  margin-top: 10px;
  font-size: xx-large;
  margin-top: 20px;
  font-weight: bold;
}
.btn {
  margin-top: 20px;
  background-color: #08a9a0;
  color: white;
  width: 244px;
  height: 61px;
  font-size: x-large;
  border-radius: 10px;
}
