@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('../styles/components/Aboutus.css');
@import url('../styles/components/AppNavBar.css');
@import url('../styles/components/AppContactus.css');
@import url('../styles/components/Banner.css');
@import url('../styles/components/Enterprises.css');
@import url('../styles/components/Ethics.css');
@import url('../styles/components/Facilities.css');
@import url('../styles/components/FAQ.css');
@import url('../styles/components/Features.css');
@import url('../styles/components/Hero.css');
@import url('../styles/components/Navbar.css');
@import url('../styles/components/OnlineBooking.css');
@import url('../styles/components/Pring.css');
@import url('../styles/components/Responsive.css');
@import url('../styles/components/Signup.css');
@import url('../styles/components/Story.css');
@import url('../styles/components/WhyUnibazar.css');
@import url('../styles/components/Working.css'); */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Nunito Sans", sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.bg-custom-gradient {
  background: linear-gradient(0deg, #08A9A0, #08A9A0), 
              linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}


.section {
  padding: 0px 64px;
}

@media (max-width: 720px) {
  .section {
    padding: 0px 16px;
  }
}
