/* ENTERPRISES STYLING */


.enterprise {
  padding: 3rem;

}

.enterpriseText {
  text-align: center;
}

.enterpriseText p{
  margin-top: 0;
  margin-bottom: 3rem;
  color: #555;
  font-size: 16px;
}


.enterpriseText h2{
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.enterpriseImage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.enterpriseImg {
  width: 8%;
}

.enterpriseImg img {
 width: 100%;
}

@media (max-width: 720px) {
  .enterpriseImg {
    width: 32%;
  }
  .enterpriseImage{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content:space-around;
    align-items: center;
  }

}
