/*  FAQ'S   */

.faqs {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.faqs-text{
  text-align: center;
  margin: 3.1rem .7rem;
  color: #555;
}

.faqs-text h2 {
 font-size: 1.75rem;
 margin: auto;
 color: #000;
}

.faqs-part {
  display: flex;
  justify-content: space-evenly;
}

.faq-sides{
  min-width: 40%;
}

.faqs-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
  background-color: #F3F1F1;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

.faqs-item img{
  width: 6%;
  height: 6%;
}