body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: #fff;
}

header {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 .12rem .25rem rgba(0, 0, 0, 0.4);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  min-width: 16%;
}

span{
  color: #08a9a0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding-left: 5rem;
}

.nav-links a {
  text-decoration: none;
  color: #535353;
  font-weight: 400;
}

.nav-buttons {
  display: flex;
  gap: .7rem;
}

.nav-buttons a {
  text-decoration: none;
  padding: 1rem 4rem;
  border-radius: .5rem;
}

.white-bg-button {
  background-color: transparent;
  color: #455a64;
}

.nav-btn {
   padding: 1rem 2rem ;
}

.main-bg-button {
  background-color: #077360;
  color: white;
}