/* WORKING  */

.working {
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
}

.workingText {
  text-align: center;
}

.workingText p {
  color: #455a64;
  font-size: 16px;
}

.workingText h1 {
  margin: 0rem;
  font-size: 24px;
  font-weight: bold;
}

.workPart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 20px;
  gap: 20px;
}

.work {
  max-width: 240px;
  padding: 2rem;
  background-color: #F5FDFD;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  flex: 1 1 0;
}

.workIcon {
  width: 30px;
  background-color: #F5FDFD;
 
}
.work p {
  text-align: center;
  font-size: 14px;
}

@media (max-width: 720px) {
  .workPart {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .work {
    min-width: 320px;
  }
}
